In [2]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st
import numpy as np

In [3]:
population_estimates = pd.read_csv("Population-EstimatesData.csv")
population_estimates.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2042,2043,2044,2045,2046,2047,2048,2049,2050,Unnamed: 95
0,Arab World,ARB,Age dependency ratio (% of working-age populat...,SP.POP.DPND,88.061110,89.489513,90.782451,91.898948,92.728007,93.201290,...,54.356396,54.502067,54.676725,54.874161,55.102246,55.331887,55.562180,55.789065,56.009450,NaN
1,Arab World,ARB,"Age dependency ratio, old",SP.POP.DPND.OL,6.591951,6.700903,6.793279,6.867327,6.919224,6.947790,...,13.345549,13.732773,14.132766,14.544481,14.946251,15.349197,15.755873,16.168726,16.589418,NaN
2,Arab World,ARB,"Age dependency ratio, young",SP.POP.DPND.YG,81.324186,82.626198,83.789155,84.767354,85.474209,85.872972,...,40.542064,40.345297,40.162781,39.987572,39.845466,39.699290,39.546177,39.380479,39.197560,NaN
3,Arab World,ARB,"Age population, age 00, female, interpolated",SP.POP.AG00.FE.IN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Arab World,ARB,"Age population, age 00, male, interpolated",SP.POP.AG00.MA.IN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
# Remove unecessary columns from the DataFrame and save the new DataFrame
# Only keep: "Country Name", "Indicator Name", "1970", "2020",
reduced_df = population_estimates[["Country Name", "Indicator Name", "1970", "2020"]]
reduced_df.head()

,Country Name,Indicator Name,1970,2020
0,Arab World,Age dependency ratio (% of working-age populat...,94.226666,61.020120
1,Arab World,"Age dependency ratio, old",7.073558,7.593050
2,Arab World,"Age dependency ratio, young",86.848912,51.954725
3,Arab World,"Age population, age 00, female, interpolated",NaN,NaN
4,Arab World,"Age population, age 00, male, interpolated",NaN,NaN

In [5]:
# Set new index to Country Name
df = reduced_df.set_index("Country Name")
df.head()

,Indicator Name,1970,2020
Country Name,,,
Arab World,Age dependency ratio (% of working-age populat...,94.226666,61.020120
Arab World,"Age dependency ratio, old",7.073558,7.593050
Arab World,"Age dependency ratio, young",86.848912,51.954725
Arab World,"Age population, age 00, female, interpolated",NaN,NaN
Arab World,"Age population, age 00, male, interpolated",NaN,NaN

In [10]:
# Grab the eight regions we'll be using
reduced_df2 = df.loc[["Central Europe and the Baltics", "East Asia & Pacific", "European Union",
                                "Latin America & Caribbean", "Middle East & North Africa", "South Asia", "Sub-Saharan Africa", "United States"]]
reduced_df2

,Indicator Name,1970,2020
Country Name,,,
Central Europe and the Baltics,Age dependency ratio (% of working-age populat...,5.237557e+01,5.316262e+01
Central Europe and the Baltics,"Age dependency ratio, old",1.438745e+01,2.976632e+01
Central Europe and the Baltics,"Age dependency ratio, young",3.792280e+01,2.335613e+01
Central Europe and the Baltics,"Age population, age 00, female, interpolated",NaN,NaN
Central Europe and the Baltics,"Age population, age 00, male, interpolated",NaN,NaN
...,...,...,...
United States,Rural population growth (annual %),1.511424e-01,NaN
United States,Sex ratio at birth (male births per female bir...,NaN,NaN
United States,Urban population,1.509224e+08,2.743740e+08
United States,Urban population (% of total population),7.360200e+01,8.266400e+01
United States,Urban population growth (annual %),1.531152e+00,NaN

In [12]:
#Move the Country Name index back into a column
reduced_df3 = reduced_df2.reset_index(level='Country Name')
reduced_df3

,Country Name,Indicator Name,1970,2020
0,Central Europe and the Baltics,Age dependency ratio (% of working-age populat...,5.237557e+01,5.316262e+01
1,Central Europe and the Baltics,"Age dependency ratio, old",1.438745e+01,2.976632e+01
2,Central Europe and the Baltics,"Age dependency ratio, young",3.792280e+01,2.335613e+01
3,Central Europe and the Baltics,"Age population, age 00, female, interpolated",NaN,NaN
4,Central Europe and the Baltics,"Age population, age 00, male, interpolated",NaN,NaN
...,...,...,...,...
1395,United States,Rural population growth (annual %),1.511424e-01,NaN
1396,United States,Sex ratio at birth (male births per female bir...,NaN,NaN
1397,United States,Urban population,1.509224e+08,2.743740e+08
1398,United States,Urban population (% of total population),7.360200e+01,8.266400e+01
1399,United States,Urban population growth (annual %),1.531152e+00,NaN

In [13]:
#Makes sure Country Name is now a column
reduced_df3.columns

Index(['Country Name', 'Indicator Name', '1970', '2020'], dtype='object')

In [14]:
# Set new index to Indicator Name
reduced_df4 = reduced_df3.set_index("Indicator Name")
reduced_df4.head()

,Country Name,1970,2020
Indicator Name,,,
Age dependency ratio (% of working-age population),Central Europe and the Baltics,52.375566,53.162625
"Age dependency ratio, old",Central Europe and the Baltics,14.387453,29.766316
"Age dependency ratio, young",Central Europe and the Baltics,37.922797,23.356127
"Age population, age 00, female, interpolated",Central Europe and the Baltics,NaN,NaN
"Age population, age 00, male, interpolated",Central Europe and the Baltics,NaN,NaN

In [19]:
# Grab the two Indicator Names we'll be using
reduced_df5 = reduced_df4.loc[["Rural population", "Urban population"]]
reduced_df5

                                    Country Name         1970          2020
Indicator Name
Rural population  Central Europe and the Baltics   48793751.0  3.814100e+07
Rural population             East Asia & Pacific  968401382.0  9.241849e+08
Rural population                  European Union  151721048.0  1.226890e+08
Rural population       Latin America & Caribbean  122226648.0  1.236598e+08
Rural population      Middle East & North Africa   79408841.0  1.580670e+08
Rural population                      South Asia  580691836.0  1.209094e+09
Rural population              Sub-Saharan Africa  237868093.0  6.674040e+08
Rural population                   United States   54129627.0  5.754100e+07
Urban population  Central Europe and the Baltics   50340797.0  6.370800e+07
Urban population             East Asia & Pacific  321982682.0  1.427118e+09
Urban population                  European Union  290265110.0  3.910350e+08
Urban population       Latin America & Caribbean  163794806.0  5.295190e+08
Urban population      Middle East & North Africa   59064223.0  3.063980e+08
Urban population                      South Asia  133019513.0  6.477070e+08
Urban population              Sub-Saharan Africa   52658096.0  4.686450e+08
Urban population                   United States  150922373.0  2.743740e+08

In [30]:
#check the datatypes
reduced_df5.dtypes

Country Name    object
1970             int64
2020             int64
dtype: object

In [31]:
#convert the 1970 column and 2020 column to integers rather than floats
cols = ['1970', '2020']
reduced_df5[cols] = reduced_df5[cols].applymap(np.int64)
reduced_df5

                                    Country Name       1970        2020
Indicator Name
Rural population  Central Europe and the Baltics   48793751    38141000
Rural population             East Asia & Pacific  968401382   924184900
Rural population                  European Union  151721048   122689000
Rural population       Latin America & Caribbean  122226648   123659800
Rural population      Middle East & North Africa   79408841   158067000
Rural population                      South Asia  580691836  1209094000
Rural population              Sub-Saharan Africa  237868093   667404000
Rural population                   United States   54129627    57541000
Urban population  Central Europe and the Baltics   50340797    63708000
Urban population             East Asia & Pacific  321982682  1427118500
Urban population                  European Union  290265110   391035000
Urban population       Latin America & Caribbean  163794806   529519000
Urban population      Middle East & North Africa   59064223   306398000
Urban population                      South Asia  133019513   647707000
Urban population              Sub-Saharan Africa   52658096   468645000
Urban population                   United States  150922373   274374000

In [32]:
#Move the Indicator Name index back into a column
reduced_df6 = reduced_df5.reset_index(level='Indicator Name')
reduced_df6

      Indicator Name                    Country Name       1970        2020
0   Rural population  Central Europe and the Baltics   48793751    38141000
1   Rural population             East Asia & Pacific  968401382   924184900
2   Rural population                  European Union  151721048   122689000
3   Rural population       Latin America & Caribbean  122226648   123659800
4   Rural population      Middle East & North Africa   79408841   158067000
5   Rural population                      South Asia  580691836  1209094000
6   Rural population              Sub-Saharan Africa  237868093   667404000
7   Rural population                   United States   54129627    57541000
8   Urban population  Central Europe and the Baltics   50340797    63708000
9   Urban population             East Asia & Pacific  321982682  1427118500
10  Urban population                  European Union  290265110   391035000
11  Urban population       Latin America & Caribbean  163794806   529519000
12  Urban population      Middle East & North Africa   59064223   306398000
13  Urban population                      South Asia  133019513   647707000
14  Urban population              Sub-Saharan Africa   52658096   468645000
15  Urban population                   United States  150922373   274374000

In [34]:
# Reorganizing the columns where Country Name comes before Indicator Name
organized_df = reduced_df6[["Country Name","Indicator Name","1970","2020"]]
organized_df.head()

                     Country Name    Indicator Name       1970       2020
0  Central Europe and the Baltics  Rural population   48793751   38141000
1             East Asia & Pacific  Rural population  968401382  924184900
2                  European Union  Rural population  151721048  122689000
3       Latin America & Caribbean  Rural population  122226648  123659800
4      Middle East & North Africa  Rural population   79408841  158067000

In [36]:
# Push the remade DataFrame to a new CSV file
organized_df.to_csv("Population-Estimates_Emily.csv",
                  index=False, header=True)